<f:flashMessages />
<div class="tx_feuser-newsletter-subscription">
    <h3>
        <f:translate
            key="newsletter_unsubscribe" extensionName="FeuserNewsletterSubscription" />
    </h3>
    <p>
        <f:translate
            key="unsubscribe_description" extensionName="FeuserNewsletterSubscription" />
    </p>

    <!-- Formular zur Abmeldung -->
    <f:form action="unsubscribe" controller="Newsletter" method="post">
        <label for="email">
            <f:translate key="email_label" />
        </label>
        <f:form.textfield name="email" id="email"
            placeholder="{f:translate(key:'email_placeholder', extensionName: 'FeuserNewsletterSubscription')}" />
        <f:form.button type="submit" name="{f:translate(key:'unsubscribe_button', extensionName: 'FeuserNewsletterSubscription')}" class="btn btn-primary">{f:translate(key:'unsubscribe_button', extensionName: 'FeuserNewsletterSubscription')}</f:form.button>
    </f:form>
</div>